<div class="row">
  <div class="col-4">
    <div class="header-card">
      <div class="header-card__option">
        <div class="badge__bar"></div>
        <div class="card__bar">Innovations bar</div>
        <span class="card__nummber cursor">4</span>
      </div>

      <div class="header-card__option">
        <img src="../../assets/images/icons/stc-plus.svg" alt="stc-plus" class="cursor">
        <img src="../../assets/images/icons/stc-menu.svg" alt="stc-menu" class="rotate cursor">
      </div>
    </div>
    <div class="main-card">
      <img src="../../assets/images/home/Screenshot 2022-12-21 at 11.18.02 AM.svg" class="card-img" alt="">
        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge cursor">Critical</span>
            <span class="badge-default complete-badge cursor">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete" >
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="header-card">
      <div class="header-card__option">
        <div class="badge__completed"></div>
        <div class="card__bar">Doing</div>
        <span class="card__nummber">1</span>
      </div>

      <div class="header-card__option">
        <img src="../../assets/images/icons/stc-plus.svg" alt="stc-plus" class="cursor">
        <img src="../../assets/images/icons/stc-menu.svg" alt="stc-menu" class="rotate cursor">
      </div>
    </div>
    <div class="main-card">
      <img src="../../assets/images/home/alvaro-reyes-qWwpHwip31M-unsplash.svg" alt="" class="card-img cursor">
        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge cursor">Critical</span>
            <span class="badge-default complete-badge cursor">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="header-card">
      <div class="header-card__option">
        <div class="badge__wating"></div>
        <div class="card__bar">To Do</div>
        <span class="card__nummber">1</span>
      </div>

      <div class="header-card__option">
        <img src="../../assets/images/icons/stc-plus.svg" alt="stc-plus" class="cursor">
        <img src="../../assets/images/icons/stc-menu.svg" alt="stc-menu" class="rotate cursor">
      </div>
    </div>
    <div class="main-card">
      <img src="../../assets/images/home/alvaro-reyes-qWwpHwip31M-unsplash.svg" alt="" class="card-img cursor">

        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge cursor">Critical</span>
            <span class="badge-default complete-badge cursor">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="main-card">
      <img src="../../assets/images/home/Screenshot 2022-12-21 at 11.18.02 AM.svg" class="card-img" alt="">
        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge cursor">Critical</span>
            <span class="badge-default complete-badge cursor">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="main-card">
      <img src="../../assets/images/home/alvaro-reyes-qWwpHwip31M-unsplash.svg" alt="" class="card-img">
        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge">Critical</span>
            <span class="badge-default complete-badge">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">
    <div class="main-card">
      <img src="../../assets/images/home/alvaro-reyes-qWwpHwip31M-unsplash.svg" alt="" class="card-img">

        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge">Critical</span>
            <span class="badge-default complete-badge">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">

    <div class="main-card">
      <img src="../../assets/images/home/Screenshot 2022-12-21 at 11.18.02 AM.svg" class="card-img" alt="">
        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge">Critical</span>
            <span class="badge-default complete-badge">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">

    <div class="main-card">
      <img src="../../assets/images/home/alvaro-reyes-qWwpHwip31M-unsplash.svg" alt="" class="card-img">
        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge">Critical</span>
            <span class="badge-default complete-badge">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
  <div class="col-4">

    <div class="main-card">
      <img src="../../assets/images/home/alvaro-reyes-qWwpHwip31M-unsplash.svg" alt="" class="card-img">

        <div class="justify-between">
          <div class=" justify-between gap-3">
            <span class="badge-default primary-badge">Critical</span>
            <span class="badge-default complete-badge">
              <img src="assets/images/icons/stc-complete.svg" alt="stc-complete">
              Completed
            </span>

          </div>
          <div>
            <div class="photo_stc">
              <img class="image_one" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_two" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <img class="image_three" src="assets/images/icons/icon-avatar.svg" alt="icon-avatar" />
              <span class="badge">+4</span>
            </div>
          </div>
        </div>
        <div class="main-card__subtitle">
          Disable swipe on slider image when there is only o disable swipe on slider
        </div>
    </div>
  </div>
</div>
