<div class="side-bar">
  <h1 class="side-bar__title px-4">Dobox</h1>
  <hr class="bg-seperator">
  <ul class="side-bar__list px-4">
    <li class="side-bar__list__item">
      <img src="assets/images/icons/stc-analytics.svg" alt="stc-analytics">
      <span>Main Dashboard</span>
    </li>
    <li class="side-bar__list__item">
      <img src="assets/images/icons/stc-settings.svg" alt="stc-analytics">
      <span>Manage Your Workspaces</span>
    </li>
  </ul>
  <hr class="bg-seperator">

  <div class="px-4">
    <div class="bg-primary justify-between">
      <div class="item-center  gap-3">
        <img src="assets/images/icons/grid-view.svg" alt="grid-view">
        <span>Platforms</span>
      </div>
      <div>
        <div class="icon-plus ">
          <img src="assets/images/icons/stc-plus.svg" alt="stc-plus">
        </div>
      </div>
  </div>
  </div>
  <div class="px-4 mt-3">
    <ul class="bg-gray-secondary p-4">
          <li class="item-center gap-4 mb-4">
            <span class="icon-plus icon-min item-center">H</span>
            <h1 class="fw-normal">Chat</h1>
          </li>
          <li class="item-center gap-4 mb-4">
            <span class="icon-plus icon-min item-center   ">I</span>
            <h1 class="fw-normal">Inbox</h1>
          </li>
          <li class="item-center gap-4 mb-4">
            <span class="icon-plus icon-min item-center   ">C</span>
            <h1 class="fw-normal">HUB Road Map</h1>
          </li>
          <li class="item-center gap-4 mb-4">
            <span class="icon-plus icon-min item-center   ">D</span>
            <h1 class="fw-normal">Dobox</h1>
          </li>
          <li class="item-center gap-4 mb-4">
            <span class="icon-plus icon-min item-center   ">S</span>
            <h1 class="fw-normal">stc Profile</h1>
          </li>
          <li class="item-center gap-4 mb-4">
            <span class="icon-plus icon-min item-center   ">M</span>
            <h1 class="fw-normal">Meeting</h1>
          </li>
    </ul>
  </div>

</div>



