<div class="bg-nav">
  <div class="container-fluid">
    <div class="row item-center">
      <div class="col-6">
        <div class="img-box">
          <img src="assets/images/icons/stc-hub.svg" alt="">
        </div>
      </div>
      <div class="col-6">
        <ul class="menu">
          <li class="menu__item">
            <img src="assets/images/icons/stc-search.svg" alt="stc-search">
          </li>
          <li class="menu__item">
            <img src="assets/images/icons/stc-alarm.svg" alt="stc-alarm">
          </li>
          <li class="menu__item">
            <img src="assets/images/icons/stc-person.svg" alt="stc-person">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
